.title-wrapper {
    display: flex;
    width: 100vw;
    background: #545454;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.searchArea-wrapper {
    display: grid;
    grid-template-rows: 1fr 2fr;
    justify-content: space-around;
}

.weather-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown-container {
    display: flex;
    justify-content: center;
}

h1 {
    margin: 10px 0;
}

span {
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    h1 {
        font-size: 1.5em !important;
    }
}

@media screen and (max-width: 800px), screen and (max-height: 750px) {
    .searchArea-wrapper {
        display: flex;
        flex-direction: column;
    }
}